<a href="https://colab.research.google.com/github/VIKAS123M/python1/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def printEven(n):
  cnt = 0;
  sum = 0;
  while(cn!=n):
    if(cnt%2==0):
      sum = sum + cnt;
    cnt = cnt + 1;
  return sum;

  print(printEven(20));

#4Example Functional Programming

In [11]:
def factorslist(n):
  i=1;
  while(i!=n):
    if(n%i==0):
      print(i,end= "");
    i = i+1;
  return ;

factorslist(12);

12346

#5 Example Loop

In [24]:
list1=[1,2,3,4,5];
print(list1)
print(list1[0])

[1, 2, 3, 4, 5]
1

#6 Example loop 2

In [27]:
list2 = ("Anil","Arvind","Akhil","Akash");
for x in list2:
    print(x,end="")

AnilArvindAkhilAkash

#Example

In [28]:
list1=[1,2,3,4,5,6,7]
for x in list1:
  print(x , end=" ")
  
print();
print(list1[4])

1 2 3 4 5 6 7
5

#Example

In [30]:
list1=[1,2,3,4,5,6,7]
for x in list1:
  print(x,end=" ")
  
print()
print(list1[4])
print(list1[3:7])
print(list1[0:3])
print(list1[:3])
print(list1[:7])

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

#Example

In [32]:
list1=[1,2,3,4,5,6,7]
for x in list1:
  print(x,end=" ")
  
print();
print(list1[1:-1])
print(list1[:-8])
print(list1[:-4])

1 2 3 4 5 6 7
[2, 3, 4, 5, 6]
[]
[1, 2, 3]

#Example

In [33]:
list1=["anil","sai kumar","akash"]
print(list1)
list1[2]=15
print(list1)

['anil', 'sai kumar', 'akash']
['anil', 'sai kumar', 15]